<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../components/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Editar</h1>
            
            <form action="/editarProduto/?id=<%= produto.id %>" method="POST">
                <label for="nome_produto">Nome do Produto:</label>
                <input type="text" id="nome_produto" name="nome_produto" value="<%= produto.nome_produto %>">
            
                <label for="preco">Preço:</label>
                <input type="text" id="preco" name="preco"  value="<%= produto.preco %>">
                
                <button type="submit">Salvar</button>
            </form>
        </div>
    </main>

    <footer>
        <%- include('../components/footer'); %>
    </footer>

</body>

</html>